body {
  background-color: #202020;
  font-family: "Roboto Mono", monospace;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Bebas Neue", cursive;
}

p {
}

.container.main {
  background-color: #ededed;
  margin: 50px auto;
  padding: 20px;
}

.vertical {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-size: 36px;
}
