body {
  background-color: #202020;
  font-family: "Roboto Mono", monospace;
  font-size: 0.8rem;
}

h1,
h2 {
  margin: 0;
  text-transform: uppercase;
}

p {
  margin-bottom: 0;
}

h1 {
  font-size: 1rem;
}

h2 {
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: #202020;
}

a:hover {
  color: #202020ad;
}

i {
  font-size: 1rem;
  margin-right: 0.5rem;
}

.container.main {
  background-color: #ffffff;
  margin: 0.5rem auto;
  padding: 0 2rem;
  max-width: 900px;
}

.vertical {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-size: 1.5rem;
}

.education h3 {
  font-size: 0.9rem;
  margin: 0;
}

.paragraph {
  margin-bottom: 0.5rem;
}

.personal-info {
  padding-top: 9rem;
}

.bold {
  font-weight: bold;
}

.languages ul,
li {
  margin: 0;
  padding: 0;
}

.logo {
  height: 2.2rem;
  margin-right: 0.1rem;
}

.logo.git {
  height: 2rem;
}

.logos,
.logo.jira {
  height: 2.5rem;
}
